body {
    background-color: #000000;
    color: #FFFFFF;
}

main .personagem {
    display: none;
    height: 100vh;
}

main .personagem.selecionado { /*só ativa se tiver as duas classes juntas*/
    display: block;
}

main .personagem .imagem { /*só classe imagem*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
}

.conteudo .nome-personagem {
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
}